<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/garagebox</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <mapping class="com.jonathan.garagebox.entidades.Citas"/>
    	<mapping class="com.jonathan.garagebox.entidades.Conversaciones"/>
    	<mapping class="com.jonathan.garagebox.entidades.Facturas"/>
    	<mapping class="com.jonathan.garagebox.entidades.MecanicosCitas"/>
    	<mapping class="com.jonathan.garagebox.entidades.MecanicosCitasId"/>
    	<mapping class="com.jonathan.garagebox.entidades.Mensajes"/>
    	<mapping class="com.jonathan.garagebox.entidades.Seguimineto"/>
    	<mapping class="com.jonathan.garagebox.entidades.Usuarios"/>
    	<mapping class="com.jonathan.garagebox.entidades.Vehiculos"/>
    </session-factory>
</hibernate-configuration>
