<div class="login-bg">
  <div class="login-card-custom mx-auto">
    <div class="login-icon-container mx-auto">
      <div class="login-icon-bg">
        <i class="bi bi-lock-fill login-icon"></i>
      </div>
    </div>
    <h2 class="text-center mb-4 login-title">Inicia sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <div *ngIf="error" class="alert alert-danger py-2 text-center">{{ error }}</div>
      <div class="mb-3">
        <label for="email" class="form-label login-label">Correo electrónico</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" class="form-control login-input" required autocomplete="username" placeholder="Introduce tu correo" />
      </div>
      <div class="mb-3">
        <label for="contrasena" class="form-label login-label">Contraseña</label>
        <input id="contrasena" type="password" [(ngModel)]="contrasena" name="contrasena" class="form-control login-input" required autocomplete="current-password" placeholder="Introduce tu contraseña" />
      </div>
      <button type="submit" class="btn btn-info w-100 text-white fw-bold mb-2">ACCESO</button>
      <div class="d-flex justify-content-between small mt-2">
        <a class="link-primary" (click)="goToRegister()" style="cursor:pointer;">¿No tienes una cuenta?</a>
      </div>
    </form>
  </div>
</div>